<div class="container">
    {{!-- if no articles are scraped display this div showing button to scrape and a message --}}
    {{!-- <div class="row">
        <div class="col s12" id="defaultDisplay">
            <h4>Oops looks like you don't have anything to read!</h4>
            <p>To fix that, click the Scrape button to get started</p>
        </div>
    </div> --}}
    
    <div class="row">
        {{!-- else display the scraped articles, each in its own div --}}
        <div class="col s12" id="articlesDisplay">
            {{#each articles}}
            <div>
                <h5>{{this.title}}</h5>
                <p>{{this.summary}}</p>
                <p><a href="https://www.ksl.com{{this.link}}">Link to Article</a></p>
                {{!-- expand section to add a comment and show prev comments (with delete option) --}}
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">Comments</div>
                        <div class="collapsible-body">
                            {{!-- form to add a new comment --}}
                            <div class="row">
                                <form class="col s10">
                                    <div class="row">
                                        <div class="input-field col s8">
                                            <textarea class="materialize-textarea" id="commentText{{this.id}}"></textarea>
                                            <label for="commentText">Add a Comment</label>
                                            <button class="btn waves-effect waves-light addComment" type="submit" data-id="{{this.id}}">Add Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {{!-- shows all comments added to the article plus a delete button, 
                            use #each to loop through each comment in db and display --}}
                            {{!-- {{#each comment}} --}}

                            {{!-- if no comments don't show section, if there is a comment show the row --}}
                            {{#if comment._id}}
                            <div class="row">
                                <div class="col s8">
                                    {{!-- for now just show the one comment --}}
                                    <p class="commentDetail">{{comment.body}}</p>
                                </div>
                                <div class="col s2">
                                    <a class="waves-effect waves-light btn delete" data-id="{{comment._id}}">Delete</a>
                                </div>
                            </div>
                            {{/if}}
                            {{!-- {{/each}} --}}
                        </div>
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
</div>